.home{
  width: 100%;
  color: white;
  text-align: center;
  background-image: url("../images/shoe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}
.aboutus{
  text-align: center;
  margin-top: 40px;
}
.services{
  width: 100%;
  color: white;
  background-image: url("../images/s_image.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
  padding-top: 20px;
}
.whatwedo{
text-align: center;
margin-top: 40px;
}
.portfolio{
  text-align: center;
}
.contact{
  width: 100%;
  background-image: url("../images/c_image.jpg");
  color: white;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  display: inline;
}
.social{
  margin-left: 300px;
  margin-top: 40px;
}
.social p {
  text-align: center;
}
