.home{
  width: 100%;
  color: white;
  text-align: center;
  background-image: url("../images/shoe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}
.aboutus{
  text-align: center;
  margin-top: 40px;
}
.services{
  width: 100%;
  color: white;
  background-image: url("../images/s_image.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
  padding-top: 20px;
}
.whatwedo{
text-align: center;
margin-top: 40px;

}

.d2{
  display: none;
}
.dl2{
  display: none;
  margin-left: 60px;
}
.pm2{
  display: none;
}
.portfolio{
  text-align: center;
}
.contact{
  width: 100%;
  background-image: url("../images/c_image.jpg");
  color: white;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  display: inline;
  margin-left: 80px;
}
.name{
  position: relative;
    color: #fff;
    width: 20%;
    margin-left: 1%;
}
.email{
  position: relative;
    color: #fff;
    width: 58%;
  }
.comment{
  position: relative;
    color: #fff;
    width: 60%;
    margin-left: 20%;
}
.social{
  margin-left: 300px;
  margin-top: 40px;
}
.social p {
  text-align: center;
}
